        <footer>
            <hr>
            <p><a href="https://cs.brown.edu/~adf/programming_languages.html">Resource cited.</a></p>
            CST336 Internet Programming. 2019&copy; Alejandre <br/>
            <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br>
            It is used for academic purposes only.
        </footer>
    </body>
</html>
