#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: grey;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: left;
}
li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    padding: 14px 16px;
}
li a:hover {
    background-color: white;
    color: black;
}
.active {
    background-color: black;
    color: red;
    width: 250px;
}
body {
    background-color: gray;}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
footer a {
    text-decoration: none;
    color: whitesmoke;
}
footer {
    text-align: center;
}
.sub {
    display: flex;
    text-align: justify;
    color: lightsteelblue;
    font-size: large;
    margin-left: 100px;
    margin-right: 100px;
}
.desc {
    margin: 100px;
}
.title {
    color: steelblue;
    font-style: italic;
    font-size: 5em;
    margin-left: 100px;
}
.thumbnail img {
    width: 200px;
    height: 200px;
    display: inline-block;
    float: none;
}
.thumbnail {
    border-color: gray;
    background: gray;
    width: 200px;
    height: 200px;
    vertical-align: middle;
}
.row {
    
}